In [ ]:
#Functions

In [10]:

def my_function(x,y):
    sum = x+y
    print(sum)
my_function(2,3)

5

In [30]:
def add(x,y):
    result = x+y
    return result
number1 = 2
number2 = 3
result = add(number1, number2)
print("the sum is", result)

the sum is 5

In [33]:
marks = (33,56,67,34,67,89)
length =len(marks)
print(length)
mark_sum = sum(marks)
print(mark_sum)

6
346

In [65]:
#function to find average marks
def find_average(marks):
    sum_of_marks = sum(marks)
    total_subjects = len(marks)
    average_marks = sum_of_marks / total_subjects
    return average_marks

#calculate the grade and return it
def compute_grade(average_marks):
    if average_marks >= 80:
        grade = 'A'
    elif average_marks >= 60:
        grade ='B'
    elif average_marks >= 50:
        grade = 'C'
    else:
        grade = 'F'
    return grade   

marks = [55,56,67,34,67,89]

average_marks = find_average(marks)
print(average_marks)

grade = compute_grade(average_marks)
print(grade)

61.333333333333336
B

In [70]:
#adding two number
def add_number(x,y):
    addnum = x + y
    return(addnum)

def multiply_number(num1,num2):
    multi = num1 * num2
    return(multi)

num1 = 8
num2 = 9
add = add_number(num1, num2)
print(add)

multi = multiply_number(num1,num2)
print(multi)

17
72

In [74]:
#lambda function
larger = lambda a,b: a if a>b else b
print(larger(4,5))

name = ['aaa','gg','hhhhh','zzzzzzz','tt']
name.sort(key = lambda x:len(x))
print(name)

5
['gg', 'tt', 'aaa', 'hhhhh', 'zzzzzzz']

In [78]:
#modules
import math as m

number =30
result = m.sqrt(number)
print(result)
print(m.pi)

5.477225575051661
3.141592653589793

In [82]:
from math import  * #pi, sin, sqrt
value = sin(pi/2)
print(value)
num = sqrt(64)
print(num)

1.0
8.0

In [84]:
import math 
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [98]:
#Q2 Write Python function the takes a celsius temprature
#and converts it into fahrenheit

def my_function(cel):
    fahrenheit = cel *33.8
    return(fahrenheit)  
print(my_function(1))

33.8

In [99]:
#Q3 Write a Python function to find the Max of three numbers

def max_num(x):
    sum = max(x)
    return(sum)
x2 = [3,5,7]
print(max_num(x2))

7

In [104]:
#Q4 Write a Python function to check whether a number
#is in a given range [5,12]

def test_range(n):
    if n in range(5,12):
        print(n)
    else:
        print("none")
test_range(6)

6

In [106]:
#Q5 Write a Python function that takes a list
#and returns a new list with unique elements of the first

def list(x):
    list = set(x)
    return(list)
Sample_List = [1,2,3,3,3,3,4,5]
unique = list(Sample_List)
print(unique)

{1, 2, 3, 4, 5}

In [123]:
#Q6 Given a list of numbers, return True if first
#and last number of a list is same
#list1=[1,2,5,4,1]
#list2=[5,6,3,2,1]
#list3=[88,44,55,66,77,88]

def list1_number(num_list):
    first_element =num_list[0]
    last_element= num_list[-1]
    if(first_element ==last_element):
        print("true")
    else:
        print("false")
        
list1=[1,2,5,4,1]  
list1_number(list1)

true